body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-body);
    line-height: 1.6;
    background: var(--background-color) url('/assets/images/paper-fibers.png');
    background-attachment: fixed;
    background-repeat: repeat;
    background-blend-mode: multiply;

}

h1, h2 {
    font-family: var(--font-heading);
    color: var(--text-color);
    margin-bottom: 0.75em;
}

h3, h4 {
    font-family: var(--font-subheading);
    color: var(--text-color);
    margin-bottom: 0.5em;
}

blockquote {
    font-family: var(--font-heading);
    font-style: italic;
    border-left: 4px solid var(--text-color);
    padding-left: 15px;
}